pkgbase = ceedee-ripper
	pkgdesc = Linux desktop app for extracting audio CDs to FLAC, MP3, WAV, or Ogg Vorbis
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/odioski/CeeDee-Ripper
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	makedepends = pkgconf
	depends = cdparanoia
	depends = cd-discid
	depends = eject
	depends = flac
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-ugly
	depends = lame
	depends = libdiscid
	depends = vorbis-tools
	source = ceedee-ripper::git+https://github.com/odioski/CeeDee-Ripper.git#tag=v1.1.0
	sha256sums = SKIP

pkgname = ceedee-ripper
