.main-window-with-bg {
    background-image: url('resource:///org/ceedeeripper/CeeDee-Ripper/images/CeeDee-Ripper.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.track_list {
    background-blend-mode: darken;
    background-color: rgba(60, 57, 62, 0.6); /* 20% transparency */
}

